@import "_meyer-reset"
@import "variables"

body, html, main
	position: relative
	width: 100%
	min-width: 980px
	height: 100% !important
	min-height: 768px
	overflow: auto
	background-color: $ccBlue

body, html, main, p
	font-family: $font-stack
	font-weight: 400
	color: $white
	font-size: 12pt

h1, h2, h3, h4
	font-family: $font-header-stack
	text-transform: uppercase

h1
	font-weight: 400
	font-size: 1.6em
	margin: 0 0 8px 0

	b
		font-weight: 700
		font-size: 2em

h2
	font-weight: 400
	font-size: 1.2em
	margin: 0 0 12px 0

	b
		font-size: 1.6em
		font-weight: 700

h3
	font-size: 1.1em
	margin: 0 0 5px 0

	b
		font-weight: 700
		font-size: 1.0em

i
	font-style: italic

b
	font-weight: 700

a
	color: white
	text-decoration: none

	&:hover
		text-decoration: underline

p
	padding-bottom: 1.5em
	line-height: 1.5em

%absoluteCenter
	margin: auto
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0

.wrapper
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -326px /* hoogte footer */

.spacer
	display: block !important
	height: 326px /* hoogte footer */

.headerContainer
	position: relative
	width: 100%
	height: auto
	background-color: $ccBlack
	overflow: hidden
	height: 488px
	background-image: url("assets/media/banner.png")
	background-position: center
	background-repeat: no-repeat

.contentContainer
	width: 100%
	height: auto
	padding: 90px 0 90px 0

.content
	position: relative
	width: 980px
	height: 572px
	margin: 0 auto

	div
		position: absolute
		border-radius: 5px
		background-color: $ccBlack
		padding: 20px

	.one, .four
		width: calc(430px - 40px)
		height: calc(278px - 40px)

	.one
		left: 0
		top: 0

	.two
		width: calc(320px - 40px)
		height: calc(176px - 40px)
		top: 0
		left: 440px
		background-image: url("assets/media/leraren.png")
		background-position: cover

		ul
			margin-left: 20px
			list-style-type: disc
			line-height: normal
			font-size: 0.9em

	.three
		width: calc(210px - 28px)
		height: calc(176px - 40px)
		top: 0
		padding: 20px 12px 20px 16px
		left: 770px
		background-image: url("assets/media/meldaan.png")
		background-position: cover

		a
			color: $ccRed

	.four
		background-image: url("assets/media/goto.png")
		background-position: cover
		left: 0
		top: 290px

		p
			padding-top: 65px
			width: 220px

		a
			position: absolute
			left: 20px
			bottom: 20px


	.five
		padding: 0
		top: 190px
		left: 440px
		width: 540px
		height: 310px
		overflow: hidden

		i
			@extend %absoluteCenter
			width: 50px
			height: 64px

.footer, .spacer
	height: 326px

.footerContainer
	position: relative
	width: 980px
	width: 100%
	background-color: $ccBlack
	clear: both

	.after
		position: absolute
		width: 100%
		height: 141px
		top: -75px
		margin: 0 auto
		background-image: url("assets/media/footer.png")
		background-position: center
		background-repeat: no-repeat

	.footer
		height: 260px
		padding-top: 66px
		margin: 0 auto
		width: 980px

		h1
			margin: 0 0 30px 182px

		img.partners
			display: inline-block

		p
			display: inline-block
			font-size: 0.75em
			width: 300px
			margin-top: 15px
			float: right
